In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df_train = pd.DataFrame(
    data={"location": ["Hà Nội", "Huế", "Sài Gòn"], "population (M)": [7, 9, 0.5]}
)
df_train

  location  population (M)
0   Hà Nội             7.0
1      Huế             9.0
2  Sài Gòn             0.5

In [2]:
onehot = OneHotEncoder()

onehot_encoded_location = onehot.fit_transform(df_train[["location"]])
print(type(onehot_encoded_location))
print(onehot_encoded_location)

<class 'scipy.sparse.csr.csr_matrix'>
  (0, 1)	1.0
  (1, 0)	1.0
  (2, 2)	1.0

In [3]:
onehot = OneHotEncoder(sparse=False)

onehot_encoded_location = onehot.fit_transform(df_train[["location"]])
print(onehot_encoded_location)

[[0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]]

In [4]:
onehot.categories_

[array(['Huế', 'Hà Nội', 'Sài Gòn'], dtype=object)]